:root {
  --background: #030303;
  --background-secondary: #1d1d1d;
  --text-primary: hsla(0, 100%, 100%, 0.88);
  --text-secondary: #aaa;
  --text-disabled: #717171;
  --border-color: hsla(0, 0%, 53.3%, 0.4);
  --border-radius: 2px;
}

// body.body--light {
//
// }
