@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  background: var(--background) !important;
  color: var(--text-primary) !important;
  overflow-x: hidden !important;
}
