@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  overflow-x: hidden;
}

body.body--light,
body.body--dark {
  background: #ebebeb;
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #ebebeb,
    #dbdbdb,
    #eaeaea
  );
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #ebebeb,
    #dbdbdb,
    #eaeaea
  );
}
