$fira-sans-filename: "fira-sans-condensed-v4-latin";
$fira-sans-font-name: "Fira Sans Condensed";
$fira-sans-font-path: "./fonts/firasans-webfont" !default;

// fira-sans-condensed-regular - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-italic - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-300 - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-300.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-300-italic - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-300.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-500 - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-500.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-500-italic - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-500.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-600 - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-600.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-600-italic - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-600.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-700 - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-700-italic - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-700.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-800 - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-800.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-800-italic - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-800.woff2') format('woff2');
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-900 - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-900.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// fira-sans-condensed-900-italic - latin
@font-face {
  font-family: '#{$fira-sans-font-name}';
  src: url('#{$fira-sans-font-path}/#{$fira-sans-filename}-900.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
