.btn {
  color: var(--button-primary-color);

  .q-icon {
    color: var(--button-primary-color);
    font-size: 1.5rem;

    &.on-left {
      margin-right: 8px;
    }

    &.on-right {
      margin-left: 8px;
    }
  }

  &-primary {
    background: var(--button-primary-bg);
    color: var(--button-primary-color);
    border-radius: var(--border-radius);
  }

  &-secondary {
    background: var(--button-secondary-bg);
    color: var(--button-secondary-color);
    border-radius: var(--border-radius);
  }

  &-submit {
    background: var(--button-submit-bg);
    color: var(--btn-submit-color);
  }

  &-bordered {
    border: 1px solid var(--border-color);
  }

  &-reset {
    .q-icon {
      font-size: 0.95rem;
    }
  }
}
