.container {
  flex-grow: 1;
  max-width: $breakpoint-md;
  margin: 0 auto;
  padding-left: $space-base * 2.5;
  padding-right: $space-base * 2.5;

  @media (max-width: $breakpoint-xs-max) {
    padding-left: $space-base;
    padding-right: $space-base;
  }

  &.fluid {
    max-width: 100%;
  }
}
