.container {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;

  @media (max-width: $breakpoint-xs-max) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &.fluid {
    max-width: 100%;
  }
}
