.btn-outline {
  padding: 4px 12px;
  border-radius: 0;

  .q-btn__content {
    color: white;
  }

  .q-icon,
  .q-spinner {
    font-size: 24px;
    text-align: left;
    width: 10px;
  }
}

.btn-primary {
  background: white;
  border: 1px solid $primary;
  color: $primary;

  .q-focus-helper::before {
    background: transparent !important;
  }

  .q-focus-helper::after {
    background: $red-9 !important;
    opacity: 1 !important;
  }

  &:focus,
  &:hover {
    > .q-focus-helper {
      color: $red-9 !important;
      opacity: 1 !important;
    }
  }
}

.btn-secondary {
  background: transparent;
  color: $grey-8;

  .q-focus-helper::before {
    background: transparent !important;
  }

  .q-focus-helper::after {
    background: $grey-8 !important;
    opacity: 1 !important;
  }

  &:focus,
  &:hover {
    > .q-focus-helper {
      opacity: 1 !important;
    }
  }
}
