.md-drawer {
  background: #181818;
  border-right: 1px solid #333;
}

.md-drawer-container {
  height: 100vh;
}

.md-drawer-top {
  height: 58px;

  span {
    line-height: 58px;
    padding: 0 $space-base;
  }
}

.md-drawer-item-active {
  background: #333;
}
