.header,
.header-container {
  height: 58px;
}

.header-actions {
  line-height: 58px;
}

.header-tabs {
  @media (max-width: $breakpoint-xs-max) {
    .q-tab__label {
      display: none;
    }
  }
}
