.header {
  background: #030303;
  height: 58px;
}

.search {
  width: 60vw;
  max-width: 450px;

  @media (max-width: $breakpoint-xs-max) {
    width: 100vw;
  }
}

.search-input {
  border-top: $layout-border;
}
