.menu {
  background: var(--background-secondary);
  min-width: 160px;
  max-width: 100vw;
  border: var(--border-color);
  border-radius: 2px;

  .q-list--dense > .q-item,
  .q-item--dense {
    padding: 10px 12px;
  }
}
