.menu {
  background: #1c1d1e;
  min-width: 160px;
  max-width: 100vw;

  &.bordered {
    border: $layout-border;
    border-radius: 0;
  }

  .q-list--dense > .q-item,
  .q-item--dense {
    padding: 10px 12px;
  }
}
