.drawer-widget {
  width: 300px;
  background: $grey-12;
}

.search-widget {
  background: $grey-12;
  border-right: $layout-border;
  line-height: 52px;
  font-size: 0.85rem;
  padding-left: $space-base;
  padding-right: $space-base;
  width: 300px;
}
