.dialog {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--text-primary);
  overflow-x: hidden !important;
  width: 600px;
  max-width: 100vw;

  &-popup {
    background-color: var(--background-secondary);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    color: var(--text-primary);
    width: 450px;
  }
}
