.dialog {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--text-primary);
  overflow-x: hidden !important;
  width: 600px;
  max-width: 100vw;
}

// .dialog-popup {
//   background-color: var(--dialog-bg, #fff);
//   color: var(--dialog-color, #3b3d42);
// }
