.filter-item-field {
  h1 {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 16px;
    line-height: initial;
    border-bottom: 1px solid var(--filter-item-border-color, #4a4b50);
  }

  p {
    margin: 8px 0;
  }
}
