.filter-item-field {
  h1 {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 16px 0;
    line-height: 8px;
    border-bottom: 1px solid var(--border-color);
  }

  p {
    cursor: pointer;
    margin: 8px 0;
  }
}
