.player-container {
  display: flex;
  background: #000;
  padding-left: 0;
  padding-right: 0;
}

.player-video {
  z-index: 10;
  width: 100%;
  min-height: 640px;
  max-height: 720px;
  object-fit: contain;

  @media (max-width: $breakpoint-sm-max) {
    min-height: 240px;
    max-height: 320px;
  }

  @media (max-width: $breakpoint-xs-max) {
    min-height: 240px;
    max-height: 240px;
  }
}

.player-controls {
  z-index: 90;
}
