.poster {
  display: block;
  height: 220px;
}

.poster-image {
  background-color: $grey-10;
  border: $layout-border;
  border-color: rgba(189, 189, 189, 0.2);
  transition: border-color 0.3s;
  height: 100%;
  width: 100%;

  &:hover {
    border-color: $primary;
  }
}
