.tag-search {
  padding: 0;

  .q-field__control,
  .q-field__native,
  .q-field__marginal {
    font-weight: 500;
    height: 40px;
  }

  &-scroll {
    margin: 16px 0;
    height: 400px;
  }
}

.tag-placeholder {
  min-height: 120px;
  min-width: 100px;
}

.tag-item {
  color: var(--text-primary);
  height: 120px;
  text-align: center;

  &-meta {
    color: var(--text-secondary);
  }
}

.tag-select {
  color: var(--text-primary);

  &-meta {
    color: var(--text-secondary);
  }
}
