.video-overview-chip {
  font-size: 0.9rem;
  font-weight: 500;
  color: $grey-3;
  padding-left: 0;
}

.video-overview-search {
  border: $layout-border;
}

.video-card {
  border: 1px solid $grey-3;
}

.video-card-placeholder {
  height: 400px;
  min-height: 400px;
  max-height: 400px;
  min-width: 180px;
}

.video-card-poster {
  display: block;
  height: 220px;
}

.video-card-img {
  background-color: $grey-2;
  border-bottom: 1px solid $grey-3;
  height: 100%;
  width: 100%;
}

.video-card-body {
  padding: $space-base;
  background-color: $grey-1;
}
