.video-list-container {
  padding-top: $space-base * 4.5;
}

.video-filter-container {
  background: $grey-12;
  border-left: $layout-border;
  font-size: 0.85rem;
  width: 300px;
  max-width: 100vw;
}

.video-filter-list {
  max-width: 300px;
}

.video-filter-search {
  height: 58px;
  padding: 0 $space-base;
  margin-bottom: $space-base;
  display: flex;
  align-items: center;
  border-bottom: $layout-border;
}

.video-filter-header {
  border-bottom: $layout-border;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.video-item {
  height: 340px;
  min-height: 340px;
  min-width: 200px;

  @media (max-width: $breakpoint-xs-max) {
    height: 320px;
    min-height: 320px;
  }
}

.video-item-placeholder {
  background-position: center !important;
  background-size: 100% 100% !important;
  height: 180px;
}

.video-details-label {
  width: 150px;
  max-width: 150px;
}

.video-details-list {
  &.q-list--dense > .q-item,
  &.q-item--dense {
    padding-left: 0;
  }
}
