// import quasar variables
@import '~quasar/src/css/variables.sass';

$primary: #a7a7a7;
$secondary: #85ad90;
$accent: #9c27b0;

$generic-border-radius: 4px;
$generic-hover-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
$typography-font-family: 'Open Sans', '-apple-system', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$min-line-height: 1.12;
